/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL */

body {
    background-image: url(/img/cork.png);
}



/* HEADER */

header {
    background-image: url(/img/wall.png);
}

header h1 {
    font-family: "Edu TAS Beginner", serif;
    text-align: center;
    font-size: 90px;
    padding: .625rem;
}

/* MAIN */

.container {
    max-width: 75rem;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    gap: 1.5625rem;
    margin: 3.125rem 0;
}

.col {
    background-color: #fff;
    width: 18.75rem;
    height: 23.125rem;
    justify-self: center;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px;
    position: relative;
    top: 0;
    left: 0;
    transition: 0.4s ease-out;
}

.col:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(10deg);
    transition: 0.4s ease;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 30px 60px;
    z-index: 100;
}

.col:active {
    background-color: #b5b5b5;
}

.col--image {
    display: flex;
    justify-content: center;
}

.col--image__fit {
    width: 16.5625rem;
    height: 16.5625rem;
    object-fit: cover;
    padding-top: 1.25rem;
}

.col--image--title {
    padding-top: .625rem;
    padding-left: .9375rem;
    padding-right: .9375rem;
    font-family: "Edu TAS Beginner", serif;
    font-style: italic;
    font-size: 1.125rem;
    text-transform: capitalize;
}

.col--pin {
    position: absolute;
    top: -0.5rem;
    left: calc(50% - 1.125rem);
}

.col:hover .col--pin {
    display: none;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 2.5rem;
    z-index: 100;
}

.overlay--btn {
    margin: 1.25rem 0;
    border: none;
    padding: .4375rem;
    background-color: #fff;
    font-size: 1rem;
    border-radius: .625rem;
    transition: 0.4s ease-out;
}

.overlay--btn:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.4s ease;
}

.overlay--btn:active {
    background-color: #b5b5b5;
}

.overlay--image__fit {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
}

.hidden {
    display: none;
    transition: 0.4s ease;
}

/* RESPONSIVE - MOBILE FIRST */

/* Tablet >= 768px */

@media screen and (min-width: 48rem) {

    .container {
        grid-template-columns: auto auto;
        justify-self: center;
    }

    .col--image--title {
        font-size: 1.375rem;
    }

    .overlay--btn {
        font-size: 1.25rem;
    }

    .overlay--image__fit {
        width: calc(16.5625rem * 2);
        height: calc(16.5625rem * 2);
        object-fit: cover;
    }
}

/* Desktop >= 992px */

@media screen and (min-width: 62rem) {

    .container {
        grid-template-columns: auto auto auto;
        justify-self: center;
    }

    .col--image--title {
        font-size: 1.5rem;
    }

}